*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background: white;
}

.header {
    text-align: center;
    font-weight: bold;
}

.input {
text-align: center;
margin: 100px 0;
}

input[type="text"] {
    height: 50px;
    width: 600px;
    background: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    padding: 10px 10px;
}

input[type="submit"] {
    height: 50px;
    width: 600px;
    background: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
}

.display {
    text-align: center;
    width: 50%;
    background: white;
    height: 40vh;
    margin: 50px auto;
    border-radius: 2px;

}

.display h1 {
    padding: 5px 0;
}

.display p {
    margin: 40px 0;
    font-size: 20px;
}